<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="witdth=device-width,initial-scale=1.0">
    <title>GlamFit | <%= title%> </title>
    <link rel="stylesheet" href="/style.css">
    <style>
       
      </style>
</head>