<htm>
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>
            <div class="blog contents">
                <h2>All Blogs</h2>

            </div>
            <div class="not-found content">
                oops page not found
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>
</htm>