<htm>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus velit
                 quidem recusandae nostrum vitae est, modi enim placeat consectetur adipisci ex excepturi quae aperiam 
                necessitatibus aliquam reiciendis officiis! Error, accusantium.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</htm>